.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.countDown {
	color: #fff;
	font-size: 1.5rem;
	vertical-align: middle;
	padding: 0 0.6rem;
}

h4 {
	padding: 0.3rem 0.6rem;
	background-color: tomato;
	color:bisque;
	border-radius: 50px;
}
